body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    color: white;
}

#background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("images/back2.jpg") center;
    background-size: cover;
}

.header {
    position: relative;
    padding-top: 25px;
    padding-bottom: 50px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 160px;
    text-align: center;
    font-family: "Franklin Gothic Heavy";
    text-transform: uppercase;
    background-image: linear-gradient(to right, #ffffff 0%, #fce047 100%);;
    background-size: 100vw;

    text-decoration: none;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;


}

h2 {
    font-size: 30px;
    font-family: "Franklin Gothic Heavy";
    text-transform: uppercase;
    margin: 0;
}

h3 {
    font-size: 100px;
    text-align: center;
    font-family: "Franklin Gothic Heavy";
    text-transform: uppercase;
    background-image: linear-gradient(to right, #ffffff 0%, #fce047 100%);;
    background-size: 100vw;

    text-decoration: none;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0;
    margin-bottom: 30px;
}


p {
    font-family: "Franklin Gothic Demi Cond";
    font-size: 20px;
}

.image-container {
    align-items: center;
    justify-content: space-evenly;
    display: grid;
    grid-auto-flow: column;
    width: 100%;
}

.image-container img {
    align-self: center;
    max-width: 200px;
    width: 100%;
    height: 200px;
    margin-bottom: 40px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 1100px;
    padding: 100px 16px;
    margin: 0 auto;
}

.text-container-block {
    padding: 16px;
    margin-bottom: 32px;
    border-radius: 16px;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}

.text-container-block:hover {
    background: #fff;
    color: #333;
    transform: scale(1.05);
}

.text-container-block img {
    border: #ababab 1px solid;
    float: left;
    width: 300px;
    margin: 16px;
}

.quizBox {
    margin-top: 130px;
    margin-bottom: 160px;
}

@media (max-width: 1100px) {
    h1 {
        font-size: 80px;
    }
    h3{
        font-size: 60px;
    }
}
@media (max-width: 600px) {
    h1 {
        font-size: 50px;
    }
    h3{
        font-size: 35px;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 42px;
    }
    h3{
        font-size: 30px;
    }
}