body {
    width: 100%;
    background-image: url("images/background-ornament.jpg");
    -moz-background-size: 100%;
    background-repeat: repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding: 0 auto;
    margin: 0 auto;
    font-family: 'Source Serif 4', serif;
    font-weight: bolder;
    font-style: oblique;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    text-align: center;
    font-style: normal;
    padding: 5px;
    border: 5px solid black;
    border-radius: 10px;
    font-weight: 1000;
}

h2 {
    font-family: 'Playfair Display', serif;
    text-align: left;
    font-size: 40px;
    font-weight: bolder;
}

p {
    font-size: 25px;

}

.info {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    padding: 30px;

}

.info-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0;
    padding: 20px;
    border-radius: 30px;
    background: aliceblue;
}

.info-block div {
    display: flex;
    flex-direction: column;
}

.info-block-img {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    flex: 0 0 auto;
    padding-right: 30px;


}

.info-block-img img {
    max-height: 400px;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

details {
    font: 16px "Open Sans", Calibri, sans-serif;
    width: 620px;
}

details > summary {
    border: none;
    cursor: pointer;
    list-style: none;
}

summary::after{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-size: contain !important;
    background: url("images/arrow.png") center;
}

.info-block-exp {
    margin: 30px 0;
    padding: 20px;
    border-radius: 30px;
    background: aliceblue;
}
